{% autoescape off %}
Merhaba {{ user.get_username }},

LibreTrack hesabınız için bir şifre sıfırlama talebinde bulundunuz.
Şifrenizi güvenli bir şekilde yenilemek için lütfen aşağıdaki bağlantıya tıklayın:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Bu bağlantı güvenlik nedeniyle sadece 24 saat boyunca geçerlidir.
Eğer bu talebi siz yapmadıysanız, hesabınız güvendedir ve hiçbir işlem yapmanıza gerek yoktur.

Saygılarımızla,
LibreTrack Destek Ekibi
{% endautoescape %}